<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}">
<head>
    <title>Home Page</title>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" data-th-href="@{'/css/output.css'}" />
</head>
<body>
    <div id="content">
        <h1>Welcome to Home Page</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem autem accusantium distinctio eveniet adipisci itaque amet ullam suscipit doloremque! Velit nisi eum illum libero. Autem fugiat itaque doloribus pariatur vero.</p>
    </div>
    <script>
        console.log("Home Page");
    </script>
</body>
</html>