<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Services</title>
</head>
<body>
    <section id="content">
        <h1>Welcome to service page</h1>
        <h2>Service offered by SCM</h2>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae eligendi debitis similique eius, consequatur dignissimos vitae dolorem blanditiis libero necessitatibus inventore, impedit ipsum, autem quia. In quod quo maiores commodi.
    </section>
</body>
</html>